@use "./variables" as *;

@mixin headerStyle($url) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/assets/workout/workout-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .container-jh {
    padding-block: 3rem;
    text-align: center;

    .header-title {
      color: white;
    }
  }

  @media(max-width: 768px) {
    padding-block: 2rem;

    & .header-title {
      font-size: 35px;

      @media(max-width: 576px) {
        font-size: 27px;
      }
    }
  }
}

@mixin articleStyle() {
  align-self: center;
  .article-title-box {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-bottom: 1rem;
    }

    ion-icon {
      font-size: 2.2rem;
    }

    .article-title {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }

  .description {
    font-size: $fs-4;
    padding-left: 1.2rem;
    margin-bottom: 1.4rem;
  }
}

@mixin blogListStyle($type) {
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;

    ##{$type}-dropdown-btn {
      border: 1px solid black;
      margin-right: 1.4rem;

      .dropdown-filter {
        display: flex;
        align-items: center;
        
        ion-icon {
          font-size: 1.4rem;
          margin-right: 0.2rem;
        }

        .filter-status {
          font-size: 20px;
        }
      }

      & + div {
        font-size: 17px;
      }
    }
  }

  .search-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid black;
    border-radius: $radius;
    padding: 0.5132rem;

    label {
      display: grid;
      place-items: center;

      ion-icon {
        font-size: 1.6rem;
      }
    }

    .search-input {
      border: none;
      outline: none;
    }
  }

  // BlogList
  @if($type != "books") {
    .blog-list {
      display: grid;
      justify-content: center;
      margin-top: 1.5rem;

      .blog-item-wrapper {
        border-bottom: 1px solid #ccc;
        padding: 1rem;
        width: 700px;

        .blog-item {
          display: flex;
          justify-content: space-between;
          
          .blog-title-group {
            display: flex;
            align-items: center;

            .blog-title {
              margin-right: 0.5rem;
            }
          }
        }
      }

      // Pagination
      nav {
        margin-top: 1.2rem;
        justify-self: center;
      }
    }
  }
}