*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", serif;
  font-weight: 300;
  color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}