@use "../abstracts" as *;

#single-blog {
  padding-bottom: 0px;

  .return-btn {
    width: 3rem;
    height: 3rem;
    place-items: center;
    display: grid;
    position: fixed;
    top: 6rem;
    right: 4rem;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    transition: $transition;
    background-color: $grey-1;

    @media(max-width: 1200px) {
      right: 2rem;
    }

    @media(max-width: 968px) {
      right: 1rem;
    }
    
    @media(max-width: 576px) {
      width: 2.5rem;
      height: 2.5rem;
      top: auto;
      bottom: 1rem;
    }

    &:hover {
      background-color: black;
      color: white;
    }

    ion-icon {
      font-size: 30px;

      @media(max-width: 576px) {
        font-size: 24px;
      }
    }
  }
  
  .container-jh {
    .blog-title {
      font-size: 2.07692308rem;
    }

    .date-box {
      display: flex;
      gap: 2rem;
      color: $grey-2;
      font-size: $fs-4;
      margin-bottom: 40px;

      @media(max-width: 576px) {
        font-size: 1.1rem;
      }

      @media(max-width: 420px) {
        flex-direction: column;
        gap: 0;
      }

      div span {
        margin-left: 0.5rem;
        color: black;
      }
    }

    .content-box {
      margin-bottom: 40px;
    }

    .reaction-box {
      display: flex;
      justify-content: center;
      gap: 1rem;
      
      div {
        display: grid;
        justify-items: center;

        div{
          font-size: 40px;

          @media(max-width: 576px) {
            font-size: 35px;
          }
        }
      }
    }
  }
}

#comment {
  .container-jh {
    .comment-number {
      margin-bottom: 1rem;
    }

    .comment-box {
      display: flex; 
      flex-wrap: nowrap;
      margin-top: 1rem;
    
      .user-profile {
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.2rem;
    
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          object-position: center;
        }
      }
    
      .content-group {
        display: grid;
        width: 100%;
    
        .user-field {
          display: flex;
          align-items: center;
    
          .user-name {
            font-weight: 600;
            margin-right: 0.5rem;
          }
    
          .date {
            font-size: 0.75rem;
          }
        }
    
        .text-field {
          display: -webkit-box;
          max-width: 100%;
          word-break: break-word;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
    
        .show-details-btn {
          width: fit-content;
          color: $grey-2;
          background-color: transparent;
          font-weight: 400;
          margin-bottom: 0.5rem;
    
          &:hover {
            text-decoration: underline;
          }
        }
    
        .reaction-field {
          display: flex;
          align-items: center;
          
          ion-icon {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            cursor: pointer;
          }
    
          .thumbs-up-number, .thumbs-down-number {
            margin-right: 1rem;
          }
    
          .reply-btn {
            height: 36px;
            margin-right: 0.7rem;
            padding-inline: 1.1rem;
            border-radius: 18px;
            background-color: transparent;
    
            &:hover {
              background-color: #E5E5E5;
            }
          }
        }
    
        .spacing {
          margin-bottom: 1.2rem;
        }
    
        .expand-replies {
          .expand-replies-btn {
            display: flex;
            align-items: center;
            padding-inline: 1.1rem;
            height: 36px;
            border-radius: 18px;
            color: #0D6BF5;
            background-color: transparent;
    
            ion-icon {
              font-size: 1.2rem;
              margin-right: 0.5rem;
            }
    
            &:hover {
              background-color: #DEF1FF;
            }
          }
        }
      }

      #comment-edit-dropdown-btn {
        border-color: transparent;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        
        & + .dropdown-menu {
          min-width: 112px;
          z-index: 99;

          .dropdown-item {
            div {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              
              ion-icon {
                font-size: $fs-4;
              }
            }
          }

        }
      }
    }

    .edit-input-box {
      width: 100%;
    }

    .replies-box {
      margin-left: 4rem;
    
      @media(max-width: 500px) {
        margin-left: 2rem;
      }
    }
    
    .comment-input-box {
      display: flex;
      min-height: 55px;
    
      .user-profile-wrapper {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.2rem;
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    
      .input-group {
        display: flex;
        flex-direction: column;
    
        .input-wrapper {
          width: 100%;
          border-bottom: 1px solid #909090;
    
          textarea {
            display: flex;
            border: none;
            outline: none;
            width: 100%;
            height: 1.5rem;
            resize: none;
            overflow: hidden;
    
          }
    
          &:has(textarea:focus) {
            border-bottom: 1.95px solid #0F0F0F;
          }
        }
    
        .button-group {
          display: flex;
          justify-content: flex-end;
          margin-top: 0.5rem;
    
          .cancel-btn {
            height: 36px;
            margin-right: 0.7rem;
            padding-inline: 1.1rem;
            border-radius: 18px;
            background-color: transparent;
    
            &:hover {
              background-color: #E5E5E5;
            }
          }
    
          .submit-btn {
            height: 36px;
            margin-right: 0.7rem;
            padding-inline: 1.1rem;
            border-radius: 18px;
    
            &:is(:disabled) {
              background-color: #F2F2F2;
              color: $grey-2;
            }
    
            &:not(:disabled) {
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
  }
}