@use "../abstracts" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Poppins", sans-serif;
}

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  scroll-behavior: smooth;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

button {
  border: none;
  outline: none;
}

section {
  padding-block: 80px;
}

.section-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;

  @media(max-width: 500px) {
    font-size: $fs-1;
  }
}

.section-text {
  color: var(--cool-gray);
  font-size: var(--fs-5);
  line-height: 1.7;
  text-align: center;
}

.container-jh {
  margin: 0 10%;

  @media(max-width: 1200px) {
    margin: 0 5%;
  }

  @media(max-width: 968px) {
    margin: 0 2%;
  }

  @media(max-width: 768px) {
    margin: 0 10px;
  } 
}

.motto {
  margin: 0;
  color: $grey-1;
  font-style: italic;
  text-decoration: underline;

  @media(max-width: 500px) {
    font-size: $fs-4;
  }
}

.card {
  border-radius: $radius;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: $transition;

  .banner {
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .content {
    padding: 0 20px 20px 20px;

    .meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      font-size: $fs-6;
      text-transform: uppercase;
      color: $grey-4;
      margin-bottom: 10px;

      .date-group {
        display: flex;
        gap: 5px;

        ion-icon {
          font-size: 1.2rem;
        }
      }

      .comment-group {
        display: flex;
        gap: 5px;

        ion-icon {
          font-size: 1.2rem;
        }
      }
    }

    .title {
      font-size: $fs-3;
      color: $independence;
    }

    .text {
      color: $grey-4;
      font-size: $fs-6;
      line-height: 1.7;
      margin-bottom: 15px;
    }

    .link-btn {
      width: 111px;
      display: flex;
      align-items: center;
      color: $grey-2;
      font-weight: $fw-600;
      transition: $transition;

      &:hover {
        color: $grey-5;
      }

      span {
        margin-right: 5px;
      }
    }
  }
}

/* ANIMATIONS------------------------ */

.gravity-moving {
  -webkit-animation: gravity-moving 5s ease-in-out infinite both;
  animation: gravity-moving 5s ease-out infinite both;
}

@-webkit-keyframes gravity-moving {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  50% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }


}

@keyframes gravity-moving {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}