@use "../abstracts" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Poppins", sans-serif;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto; 
}

section {
  padding-block: 80px;
}

.section-title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;

  @media(max-width: 500px) {
    font-size: $fs-1;
  }
}

.container-jh {
  margin: 0 10%;

  @media(max-width: 1200px) {
    margin: 0 5%;
  }

  @media(max-width: 968px) {
    margin: 0 2%;
  }

  @media(max-width: 768px) {
    margin: 0 10px;
  } 
}

.motto {
  margin: 0;
  color: $grey-1;
  font-style: italic;
  text-decoration: underline;

  @media(max-width: 500px) {
    font-size: $fs-4;
  }
}

/* ANIMATIONS------------------------ */

.gravity-moving {
  -webkit-animation: gravity-moving 5s ease-in-out infinite both;
  animation: gravity-moving 5s ease-out infinite both;
}

@-webkit-keyframes gravity-moving {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  50% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }


}

@keyframes gravity-moving {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}