@use "../abstracts" as *;

#workout-contents .container-jh {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;

  .body-profile-box {
    display: grid;
    position: relative;

    img {
      object-fit: cover;
      height: 100%;
      object-position: top;
      border-radius: 5px;
      min-width: $imgMaxWidth;
    }
  }

  .workout-article {
    @include articleStyle();

    .bodyprofile-date {
      align-self: center;
      font-size: $fs-4;
    }
  }
}