#contact {
  padding-block: var(--section-padding);
  background-image: 
    /* radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(215, 215, 215, 0.5) 100%), */
    url("/src/assets/landing/contact-background.jpg");
  background-size: cover;
  background-position: center;
}

#contact .section-title {
  color: white;
}

#contact .section-text {
  color: var(--grey-2);
  margin-bottom: 50px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  background: white;
  padding: 4rem;
  border-radius: 5px;
}

.getin .underline {
  height: 3px;
  background-color: var(--grey-6);
  margin-bottom: 35px;
  border-radius: 1.5px;
}

.getin p {
  color: #686875;
  line-height: 24px;
  border-bottom: 1px solid #e5e4ed;
}

.getin .getin-container .getin-details h3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #2c234d;
}

.getin .getin-container .getin-details .getin-information {
  display: flex;
  gap: 15px;
  margin-bottom: 33px;
}

.getin .getin-container .getin-details .getin-information p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin: 0;
}

.getin .getin-container .pro-link i {
  margin-right: 8px;
  font-size: 2rem;
  transition: var(--transition);
}

.getin .getin-container .pro-link i:hover {
  color: var(--grey-4);
}

.form {
  width: 100%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}

.form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}

.form .form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.form .form-col input,
.form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  border: 1px solid transparent;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.form .form-col textarea {
  height: 150px;
  resize: vertical;
  max-height: 200px;
  min-height: 150px;
}

.form .form-col button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: black;
  transition: var(--transition);
}

.form .form-col button:hover {
  background-color: var(--grey-6);
}

.form :is(input, textarea)::placeholder {
  color: var(--grey-2);
}

@media (max-width: 992px) {
  .form .form-row {
    flex-direction: column;
  }

  .form .form-row input {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap:20px
  }

  .getin .underline {
    min-width: 242px;
    width: 50%;
  }

  .getin .getin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

@media (max-width: 576px) {
  .contact-container {
    padding: 40px;
    gap: 40px;
  }
  
  .getin .getin-container {
    grid-template-columns: 1fr;
  }

  .form .form-col textarea {
    max-height: 300px;
  }

  .form {
    padding: 25px;
  }
}

@media (max-width: 400px) {
  .contact-container {
    padding: 25px;
  }

  .getin .underline {
    min-width: 200px;
  }
}