@use "../abstracts" as *;

#news {
  .container-jh {
    .section-title {
      margin-bottom: 20px;  
    }

    .section-text {
      margin-bottom: 40px;
    }

    .news-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      padding-left: 0;

      .news-genre {
        font-size: $fs-2;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 992px) {
      .news-list {
        justify-self: center;
        width: 70%;
        grid-template-columns: 1fr;
        padding: 0 50px;
        gap: 60px;
      }
    }

    @media (max-width: 768px) {
      .news-list {
        width: 80%;
      }
    }
    
    @media (max-width: 576px) {
      .news-list {
        padding: 0;
        width: 90%;
      }
    }
  }
}


